@model OrderingManegimentSystem.ViewModel.OrderingSearchResult
@{
    ViewBag.Title = "Searchresult";
}

<style>
    h2 {
        text-align: center
    }

    p {
        text-align: center
    }

    table {
        margin: 0 auto
    }
</style>

<h2>受注情報検索</h2>
<p>以下の条件で検索を行いました。</p>
<p>受注ステータスを更新する場合は、検索結果から</p>
<p>「ご注文番号-明細」リンクをクリックしてください。</p>

<table>
    <!--検索条件の表示-->
    <tr>
        <th>@Html.DisplayNameFor(model => model.CustomerId) </th>
        <td>@ViewBag.customerId</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.OrderNo)</th>
        <td>@ViewBag.orderNo</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.DeliveryDate)</th>
        <td>@ViewBag.deliveryPeriod</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.OrderDate)</th>
        <td>@ViewBag.orderPeriod</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Status)</th>
        <td>@ViewBag.status</td>
    </tr>
</table>
<hr />

<table><tr><th>検索結果</th></tr></table>
<table>
    <tr>
        <th>@Html.DisplayNameFor(model => model.OrderDetail)</th>
        <th>@Html.DisplayNameFor(model => model.ItemNo)</th>
        <th>@Html.DisplayNameFor(model => model.ItemName)</th>
        <th>@Html.DisplayNameFor(model => model.Quantity)</th>
        <th>@Html.DisplayNameFor(model => model.DeliveryDate)</th>
        <th>@Html.DisplayNameFor(model => model.Status)</th>
    </tr>

    @foreach (var OrderingSearchResult in ViewBag)
    {
        <tr>
            <td>@OrderingSearchResult.OrderDetail</td>
            <td>@OrderingSearchResult.ItemNo</td>
            <td>@OrderingSearchResult.ItemName</td>
            <td>@OrderingSearchResult.Quantity</td>
            <td>@OrderingSearchResult.DeliveryDate</td>
            <td>@OrderingSearchResult.Status</td>
        </tr>
    }
</table>